<nav class="navbar navbar-default navbar-tall custom-nav">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Lease", root_path, class: "navbar-brand custom-brand" %>
		</div>
			<p class="navbar-text navbar-right">
				<%= link_to "Contact", pages_contact_path %>
			</p>
	</div>
</nav>